.todo-container{
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1 solid blue;
    border-radius: 8px;
}
#task-input {
    width: calc(100% -20);
    padding: 10px;
    margin-bottom: 10px;

}
.completed {
    text-decoration: line-through;
    color: grey;
}